/*********************************************************************************
 * Corporate Style theme for SugarCRM
 * 
 * Community: http://www.ithinkopen.com
 * SugarCRM Chinese Forum: http://www.ithinkopen.com/sugarcrm
 * SugarForge: http://www.sugarforge.org/projects/corporatestyle
 * 
 * Published on COSL SugarCRM OpenSource Library http://cosl.ithinkopen.com/sugarcrm
 * "Powered by think7Strategy.".
 ********************************************************************************/

.chartTitle {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #444444;
	padding: 5px;
}

.units {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #555555;
}

.groupName {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.noData {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.data {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 30px;
}

.drillTip {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.toolTips {
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.flyOutTitle{
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	color: #eeeeee;
}

.flyOutText{
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
}

.flyOutSelected{
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #444444;
}

.flyOutDisabled{
	text-align: left;
	font-size: 12px;
	font-style: italic;
	color: #666666;
}

.wedgeLabels {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barValueLabels {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barValueLabelsOver {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #0000FF;
}

.horizontalBarValueLabels {
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.horizontalBarValueLabelsOver {
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #0000FF;
}

.horizontalBarGroupLabels {
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barGroupLabels {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.yAxisLabels {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelLeftLabels {
	text-align: right;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelRightLabels {
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelLeftLabelsOver {
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

.funnelRightLabelsOver {
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.gaugeLabels {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
}

.gaugeNumber {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.legendEntry {
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.legendEntryOver {
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.squeezedWedgeLabels {
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #aaaaaa;
}