/*********************************************************************************
 * Corporate Style theme for SugarCRM
 * 
 * Community: http://www.ithinkopen.com
 * SugarCRM Chinese Forum: http://www.ithinkopen.com/sugarcrm
 * SugarForge: http://www.sugarforge.org/projects/corporatestyle
 * 
 * Published on COSL SugarCRM OpenSource Library http://cosl.ithinkopen.com/sugarcrm
 * "Powered by think7Strategy.".
 ********************************************************************************/

/*********************************************************************************

 * Description:  Contains a variety of utility functions used to display UI 
 * components such as form headers and footers.  Intended to be modified on a per 
 * theme basis.
 ********************************************************************************/
 
/* Default Styles */
body 
{ 
	font-size: 14px;
}
table, div 
{
	font-size: 13px;
}
h1, h2 
{
	font-size: 17px; 
}
h3
{
	font-size: 16px;
}
h4, h5 
{
	font-size: 14px; 
}
input, select, textarea, button
{
	font-size: 14px;
}

/* YUI styles */
.ygrid-row, 
.ygrid-hd, 
.ygrid-hd-body, 
.ygrid-hd-body span    
{
    font-size: 10pt;
}

/* for the main screen navigation tabs */

#moduleList ul li,
#subModuleList span
{
    font-size: 14px;
    padding:10px 6px 5px 2px;
}
#moduleList ul li span.currentTab 
{
    padding:10px 6px 5px 0;
}	
#moduleList ul li span.currentTabLeft, #moduleList ul li span.currentTabRight 
{
    padding:10px 2px 5px;
}
#moduleList ul li.noBorder
{
    *padding-bottom:9px !important;
}
/* left column and the hidden list menu */
#leftColumn h3, #HideMenu h3
{
    font-size: 14px;
}

/* for lists of items in the left column ( such as the shortcuts or last view items lists ) */
.leftList ul 
{
    font-size: 13px;
}
.leftList ul li a , .leftList ul li span
{
    padding: 5px 3px 5px 0px;
}	

/* left column and the hidden list menu */
#leftColumn h3, #HideMenu h3
{
    font-size: 14px;
}

/* for lists of items in the left column ( such as the shortcuts or last view items lists ) */
.leftList ul 
{
    font-size: 13px;
}
		
/*welcome user and date bar and last view*/
#welcome, #search, #sitemapLink, #globalLinks, #globalLinks a, #themepickerLinkSpan
{
    font-size: 14px;
}

/* search */
#search input[name=query_string]  
{
    font-size: 13px;
}

/* side quickcreate */
#newRecord form,
#newRecord form button,
#newRecord form input[type=submit],
#newRecord form input[type=button],
#newRecord form input[type=reset],
#newRecord form .dataLabel,
#newRecord form a:link,
#newRecord form a:visited
{
    font-size: 13px;
}
	
/* reports */
.reportGroup1ByTable, 
.reportGroupNByTable,
.reportlistViewThS1, 
.reportGroupByDataChildTablelistViewThS1,  
.reportGroup1ByTableEvenListRowS1, 
.reportGroupNByTableEvenListRowS1,
.reportlistViewMatrixThS1, 
.reportlistViewMatrixThS2, 
.reportlistViewMatrixThS3, 
.reportlistViewMatrixThS4, 
.reportlistViewMatrixLeftEmptyData, 
.reportlistViewMatrixRightEmptyData, 
.reportlistViewMatrixRightEmptyData1
{
    font-size: 13px;
}

.reportevenListRowS1, 
.reportoddListRowS1 , 
.reportGroupByDataEvenListRowS1, 
.reportGroupByDataOddListRowS1 , 
.reportGroupByDataMatrixEvenListRowS1, 
.reportGroupByDataMatrixEvenListRowS2, 
.reportGroupByDataMatrixEvenListRowS3, 
.reportGroupByDataMatrixEvenListRowS4,
.reportDataChildtablelistView td
{
    font-size: 14px;
}

/* for all views */
.view tr, .view td, .view h4, .view div
{
    font-size: 14px;
}
.view td a, .view div a, .list th div
{
    font-size: 13px;
}
.other td a, .detail td a
{
    font-size: 14px;
}
.subTabs td
{
    font-size: 14px;
}

/* for list views */
.oddListRowS1 td a, .evenListRowS1 td a
{
    font-size: 14px;
}

/* misc links */
a.utilsLink:link, 
a.utilsLink:visited,
{
    font-size: 13px;
}
a.tabFormAdvLink:link, 
a.tabFormAdvLink:visited 
{
    font-size: 14px;
}

/* calendar styles */
.monthBox,
.monthCalBody td,
.monthViewDayHeight a, 
.monthHeader a, 
.monthFooter a
{
    font-size: 14px;
}

.monthCalBodyWeek a,
.calSharedUser
{
    font-size: 13px;
}
	 
.monthCalBodyDayItem td a  
{
    font-size: 12px;
}

/* misc font displays */
.rssItemDate,
.dateFormat,
.chartFootnote 
{
    font-size: 13px;	
}
.tm
{
    font-size: 10px;
}

/* for subpanel tabs */
ul.tablist, 
ul.tablist li a,
ul.subpanelTablist, 
ul.subpanelTablist li a,
.subpanelTabForm,
.subpanelTabForm h3
{
    font-size: 14px;
}
.subTabMore 
{
    font-size: 13px;
}

/* for quick searches */
.sqsMatchedSmartInputItem 
{
    font-size:13px;
}

/* for overlib js library */
.olCapFontClass A 
{
	font-size: 11px; 
}

/* sitemap */
#sitemap a:link, #sitemap a:visited, #sitemap a:hover 
{
    font-size: 13px;
}
#sitemap h4 a:link, #sitemap h4 a:visited, #sitemap h4 a:hover 
{
    font-size: 15px;
}

/* for about page */
.about, .about td, .about span
{
    font-size: 14px;
}

/* for edit view like forms that need a smaller font size */
.edit.view.small td,.detail.view.small td
{
    font-size: 13px;
}

/* to make the reportwizard button text smaller */
.reportwizard .buttonText
{
	font-size: 13px;
}

/* to fix the size of the fonts in the unified module search popup */
#unified_search_advanced_div .edit.view td
{
    font-size: 13px;
}

/* overlib popups */
.olCapFontClass div, .olFontClass
{
    font-size: 13px !important;
}
