/*********************************************************************************
 * Corporate Style theme for SugarCRM
 * 
 * Community: http://www.ithinkopen.com
 * SugarCRM Chinese Forum: http://www.ithinkopen.com/sugarcrm
 * SugarForge: http://www.sugarforge.org/projects/corporatestyle
 * 
 * Published on COSL SugarCRM OpenSource Library http://cosl.ithinkopen.com/sugarcrm
 * "Powered by think7Strategy.".
 ********************************************************************************/

#header, #mass_update_table, #massupdate_form, #massupdate_header, #leftHandle, .subpanelTablist {
    display: none;
}
.listViewPaginationTdS1, .listViewButtons, .search_form , .tablist, .utilsLink, .button, .tabForm {
    display: none;
}
#sideBar, #HideMenu {
    display: none;
}
#sugarnav, #main, #footer {
    min-width: 800px;
}
div#content {
    margin-left: 10px;
    padding-left: 0;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}