/*********************************************************************************
 * Corporate Style theme for SugarCRM
 * 
 * Community: http://www.ithinkopen.com
 * SugarCRM Chinese Forum: http://www.ithinkopen.com/sugarcrm
 * SugarForge: http://www.sugarforge.org/projects/corporatestyle
 * 
 * Published on COSL SugarCRM OpenSource Library http://cosl.ithinkopen.com/sugarcrm
 * "Powered by think7Strategy.".
 ********************************************************************************/


#welcome 
{
    border-right: none !important;
}
 
div.screen div.edit.view
{
    border-bottom: none !important;
}

div.screen div.edit.view td,
div.screen div.edit.view th
{
    background: transparent;
}

div.nav-buttons 
{
    background-color: #F6F6F6;
    padding: 1em;
    margin-top: 0;
}

.dashletPanelMenu
{
	border-left: 1px solid #4E8CCF;
	border-right: 1px solid #4E8CCF;
	border-bottom: 1px solid #4E8CCF;
}
